<html>
    <form action="/signup" method="POST">
        <div>
            <label for="email">Enter email address</label>
            <input type="text" name="email">
        </div>

        <div>
            <label for ="password">Enter new password</label>
            <input type="text" name="password">
        </div>

        <div>
            <label for ="passwordvalidation">Enter password again</label>
            <input type="text" name="passwordvalidation">
        </div>

        <div>
            <label for ="age">Enter age</label>
            <input type="text" name="age">
        </div>

        <div>
            <label for ="occupation">Enter occupation</label>
            <input type="text" name="occupation">
        </div>

        <div>
            <label for ="zip_code">Enter zip_code</label>
            <input type="text" name="zip_code">
        </div>

        <div>
            <label for="male">Male</label>
            <input type="radio" name="sex" id="male" value="male"><br>
            <label for="female">Female</label>
            <input type="radio" name="sex" id="female" value="female"><br>
        </div>

        <input type="submit" value"Submit!">
    </form>
</html>